<h1>父親猫の編集</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', father_pets_path, class: 'btn btn-primary' %>
</div>

<%= form_with(model: @father_pet, url: father_pet_path(@father_pet), method: :patch) do |form| %>
  <%= render 'form', form: form %>
<% end %>