<h1>父親猫の新規登録</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', father_pets_path, class: 'btn btn-primary' %>
</div>

<%= form_with(model: @father_pet, url: father_pets_path, method: :post) do |form| %>
  <%= render 'form', form: form %>
<% end %>
